#bar{
  fill: steelblue;
}

#bar:hover{
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

div.gm-style-iw {
  color: black;
  font-size: 20px;
}
