{% extends "companies/base.html" %}
{% load static %}



{% block breadcrumbs %}
    <!-- <li class="breadcrumb-item active">Home</li> -->
{% endblock %}



{% block content %}
    <div class="row">
      <div class="col-12">
        <h3>North Carolina is home to several successful businesses, many of which have their headquarters in our great state! Let's take a look at some of the top businesses in our state!</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <h4 style="text-transform: capitalize;">Let's see where each of these top companies is located!</h4>
        <p style="color: black;">Click on the markers to see which company you've found! Then click on the link in the info window to see each company's stock detail page!</p>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <div id="map" style="height: 400px; width= 100%;"></div>
        </div>
    </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-12">
      <h3>There are several types of companies that made the top 32 companies in North Carolina list!</h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <h4 style="text-transform: capitalize;"> Let's take a look at what types of companies made the list, and how many fall under each category!</h4>
    </div>
  </div>
  <br>
    <div class="row">
        <div class="col-12">
            <div id="bar" style="fill: steelblue; margin-left: -10px;">
            </div>
        </div>
    </div>
  <br>
{% endblock %}

{% block script %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa-io6mJ3dqVGUCYO4oKNrkRr_sfCWad8&callback=initMap">
    </script>
    <script src="{% static "companies/js/map.js" %}"></script>
    <!-- <svg width="960" height="500"></svg> -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{% static "companies/js/bar.js" %}"></script>

{% endblock %}
