{% extends "companies/base.html" %}
{% load static %}

{% block breadcrumbs %}
    <!-- <li class="breadcrumb-item active">Home</li> -->
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-12">
        <h3>North Carolina is home to several successful businesses, many of which have their headquarters in our great state! Let's take a look at some of the top businesses in our state!</h3>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-12">
        <h4>Let's see where each of these top companies is located!</h4>
        <p>Click on the markers to see which company you've found!</p>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <div id="map" style="height: 400px; width= 100%;"></div>
        </div>
    </div>
  <hr>
  <br>
  <div class="row">
    <div class="col-12">
      <h4>There are several types of companies that made the top 32 companies in North Carolina list! Let's take a look at what types of companies made the list, and how many fall under each category!</h4>
    </div>
  </div>
  <br>
    <div class="row">
        <div class="col-12">
            <div id="by_category_bar" style="font: 10px sans-serif; background-color: steelblue; text-align: right; padding: 3px; margin: 1px; color: white;">
              <div style="width: 40px;">4</div>
              <div style="width: 80px;">8</div>
              <div style="width: 150px;">15</div>
              <div style="width: 160px;">16</div>
              <div style="width: 230px;">23</div>
              <div style="width: 420px;">42</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDa-io6mJ3dqVGUCYO4oKNrkRr_sfCWad8&callback=initMap">
    </script>
    <script src="{% static "companies/js/map.js" %}"></script>
{% endblock %}
